<table>
    <thead>
        <tr>
            <th>Provider Specialty</th>
        </tr>
    </thead>
    <tbody>
        <% results.forEach(row => { %>
            <tr>
                <td><%= provider_specialty %></td>
            </tr>
        <% }); %>
    </tbody>
</table>